.artwork-piece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin: 0;
    display: block;
  }

  .title {
    font-size: 12px;
  }
}

.artwork-piece:not(:last-child) {
  padding-bottom: 64px;
}
