.about {
  font-family: Courier New, Courier, monospace;
  display: flex;
  align-self: center;

  img.mary {
    float: right;
    height: 250px;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 16px 0 32px;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: -1px;
  }

  .description {
    line-height: 32px;
    font-size: 14px;
    max-width: 800px;
    margin-bottom: 32px;
  }
}
