@import './colors.scss';

.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 800px;

  h1 {
    margin-bottom: 0;
  }

  .email {
    color: $black;
    align-items: center;
    display: flex;
    margin: 32px 0;
    text-decoration: none;

    svg {
      margin-right: 12px;
    }
  }

    .contact-form {
      display: flex;
      flex-direction: column;

      label {
        &:first-child {
          margin-top: 0;
        }

        margin: 16px 0 8px;
      }

      input, textarea {
        border: none;
        background-color: #e6e4e4;
      }

      button {
        margin: 16px 0 32px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
