@import './colors.scss';

.contact {

  .contact-methods {
    max-width: 600px;

    .platform, .value {
      color: $white;
      background-color: $black;
      padding: 0 6px;
    }

    .platform {
      font-family: Maven Pro;
      font-weight: 900;
    }

    .value {
      font-family: Courier New, Courier, monospace;
      letter-spacing: 1px;
    }

    .method {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .method:not(:last-child) {
        padding-bottom: 32px;
    }

    a {
      text-decoration: none;
      color: $white;
    }
  }

  .currently {
    font-family: Courier New, Courier, monospace;
    font-size: 10px;
    padding: 64px 0;
  }
}

@media screen and (max-width: 600px) {
  .contact .method {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .contact .method {
    font-size: 12px;
  }
}
