.involvement {
  flex: 1;
  margin: 40px;

  .content {
    text-align: center;
    font-size: 14px;
    font-family: Courier New, Courier, monospace;

    ul {
      list-style: none;
      margin: 0;
    }
  }
}
