.involvement {
  flex: 1;
  margin: 40px;

  h1 {
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 5px;
    margin-bottom: 100px;
    font-weight: 700;
    font-family: Montserrat;
    word-break: break-all;
    word-wrap: break-word;
  }

  .content {
    text-align: center;
    font-size: 14px;
    font-family: Courier New, Courier, monospace;

    ul {
      list-style: none;
      margin: 0;
    }
  }
}
