@import '../../styles/colors.scss';

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 165px;
  margin: 16px;

  a {
    text-decoration: none;

    .title {
      font-family: 'Times New Roman', Times, serif;
      font-size: 18px;
      font-style: italic;
      font-weight: 900;
      letter-spacing: 5px;
      text-transform: uppercase;
      background-color: $black;
      margin-bottom: 8px;
      padding: 0 6px;
      color: $white;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    font-family: Courier New, Courier, monospace;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $black;
    }
  }
}
