@import '../../styles/colors.scss';

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 245px;
  margin: 0 32px;
}

@media screen and (max-width: 900px) {
  .navigation {
    display: none;
  }
}
