@import '../../styles/colors.scss';

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 165px;
  margin: 32px;
  position: fixed;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .navigation {
    display: none;
  }
}
