@import '../../../styles/colors.scss';

.menu {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-transform: uppercase;


  a {
    text-decoration: none;
    color: $black;
  }

  a:hover, a.active {
    color: $grey;
  }

  .body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .header {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-family: 'Arial';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.25px;
    background-color: $black;
    padding: 6px 14px 6px 8px;
    // padding: 6px;
    color: $white;

    .title-start {
      color: #696969;
    }
  }

  .routes {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 12px;
    line-height: 20px;
  }

  svg.logo {
    width: 140px;
    align-self: center;
    margin-bottom: 32px;
  }

  .footer {
    justify-self: flex-end;
    margin-bottom: 16px;
  }

  .social-media {
    margin-right: 12px;
    height: 24px;
  }

  .copyright {
  }
}
