@import '../../../styles/colors.scss';

.menu {

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover, a.active {
    color: $grey;
  }

  .title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: $black;
    margin-bottom: 32px;
    padding: 0 6px;
    color: $white;
  }

  .routes {
    display: flex;
    flex-direction: column;
    font-family: Courier New, Courier, monospace;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .routes > a:not(:last-child) {
    padding-bottom: 16px;
  }
}
